# Emacs files

.backup/
.cache/
auto-save-list/
backups/
custom-libs/
eclipse*
eln*
elpa/
quelpa/
request/
themes/
transient/
tutorial/
undo/
url/
cookies/
session.*
places
projectile-bookmarks
projectile.cache
dap-ui-repl-*
emacs/.*
emacs/*~
emacs/custom-vars.el
*.eld
.nosearch
snippets/yasnippet-snippets/
